<div class="home-side">
    <app-header [heading]="title"/>
    <div class="content">
        <div class="direction" (click)="onDirectionClick('member')">
            <div class="icon"></div>
            <div class="text">
                <div class="header">Spieler*innen</div>
                <div class="description">Spieler*innen anschauen und verwalten</div>
            </div>
        </div>
        <div class="direction" (click)="onDirectionClick('create-match')">
             <div class="icon"></div>
            <div class="text">
                <div class="header">Spiele</div>
                <div class="description">Spiele anschauen und verwalten</div>
            </div>
        </div>
        <div class="direction" (click)="onDirectionClick('pyramide')">
            <div class="icon"></div>
            <div class="text">
                <div class="header">Pyramide</div>
                <div class="description">Pyramide, Rangliste etc.</div>
            </div>
        </div>
    </div>
</div>
