.content {
    flex-flow:column nowrap;
    align-items: center;
    margin: 8svh 10vw;
    justify-content: space-between;
}

.direction {
    // self positioning / layout
    background-color: var(--theme-control-blue-negative);
    border-radius: 10px;
    min-height: 9svh;
    height: 20%;
    width: calc(80vw - 4rem);
    display: flex;
    flex-flow: row nowrap;
    // content
    color: var(--background-primary);
    display: flex;       
    align-items: center;  
    padding: 1rem 2rem;     
    cursor: pointer;
}

.icon {
    flex: 0 0 20%; 
    margin-right: 2rem;
    height: 50%;
    fill: var(--background-primary);
}

.text {
    flex: 1 1 auto; 
    display: flex;
    flex-flow: column nowrap;
    justify-items: left;
    align-items: baseline;
}

.header {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0;
}

.description {
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0;
}

footer {
    position: fixed;
    align-self: center;
    bottom: 1rem;
    font-size: small;
    font-style: italic;
    cursor: pointer;
}

