<div class="side">
    <app-header [heading]="title"/>
    <div class="content">
        <app-game-category-selector (selectionChanged)="onSelectionChanged($event)"></app-game-category-selector>
        <div class="horizontal-seperator"></div>
        <div class="scroll-wrapper">
            <div class="selector-group">
                <app-member-selector
                    *ngFor="let key of memberKeys; let i = index"
                    [label]="memberLabels[i]"
                    [data]="filteredMembers"
                    [selectedMember]="selectedMembers[key]"
                    (selectionChanged)="onMemberSelected($event, key)">
                </app-member-selector>
            </div>
            <div id="set-group">
                <app-set-input id="set1" [input_label]="'Satz 1'" [active]="true" [winner_label]="setValues['set1']?.winner_label || ''" (selectionChanged)="onSetChanged($event, 'set1')"></app-set-input>
                <app-set-input id="set2" [input_label]="'Satz 2'" [active]="true" [winner_label]="setValues['set2']?.winner_label || ''" (selectionChanged)="onSetChanged($event, 'set2')"></app-set-input>
                <app-set-input id="set3" [input_label]="'Satz 3'" [active]="set3Active" [winner_label]="setValues['set3']?.winner_label || ''" (selectionChanged)="onSetChanged($event, 'set3')"></app-set-input>
            </div>
        </div>
        <div id="control-buttons">
            <button mat-stroked-button color="warn" (click)="onCancel()">Abbrechen</button>
            <button mat-flat-button (click)="onSubmit()">Spiel speichern</button>
        </div>
    </div>
    <app-footer/>
</div>
