.pyramide-side {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.content > *:not(app-pyramide-divs) {
  flex: 0 0 auto;
}

.content > app-pyramide-divs {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}