<div class="side">
  <app-header [heading]="title" />
  <div class="content">
    <div class="header-row">
      <p>Personendaten</p>
      <button mat-flat-button color="primary" (click)="editMember()">
        <span class="material-icons">edit</span>
        Bearbeiten
      </button>
    </div>
    <table id="personData">
      <tr>
        <th>Anzeigename</th>
        <td>{{ member?.display_name }}</td>
      </tr>
      <tr>
        <th>Vorname</th>
        <td>{{ member?.first_name }}</td>
      </tr>
      <tr>
        <th>Nachname</th>
        <td>{{ member?.last_name }}</td>
      </tr>
      <tr>
        <th>Geschlecht</th>
        <td>{{ member?.gender }}</td>
      </tr>
      <tr>
        <th>Altersklasse(n)</th>
        <td>{{ member?.age_division_str?.join(', ') }}</td>
      </tr>
    </table>
    <div class="horizontal-seperator"></div>
    <p>Spielhistorie</p>
    <app-games-table [games]="gamesData" [displayedColumns]="['timestamp_date', 'game_id', 'opponent_display_name', 'result']" [columnLabels]="{opponent_display_name: 'Gegner'}">
    </app-games-table>
  </div>
  <app-footer />
</div>