.footer-block{
    width: calc(100% - 20vw);
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--scu-grey);
    padding: 0 10vw;
}

.element{
    max-width: 30%;
    height: 80%;
}

.icon {
    flex: 0 0 20%; 
    margin: 10%;
    height: 80%;
    fill: var(--scu-black);
}