.head-block{
    background-color: var(--color-theme);
    color: var(--color-primary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;  // horizontal center
    align-items: center;      // vertical center
    height: 100%;             // ensure it has height
    width: 100%;              // ensure it has width
    padding: 0;
    border:0;
    margin: 0;
}

.logo {
    flex: 0 0 auto; /* Prevent shrinking */
}

.header {
    flex: 1 1 auto; 
    text-align: center; 
}