.head-block{
    background-color: var(--club-theme);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;  // horizontal center
    align-items: center;      // vertical center
    height: 100%;             // ensure it has height
    width: 100%;              // ensure it has width
    padding: 0;
    border:0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* ältere Browser */
}

.club {
    flex: 0 0 calc(10vw - 2%);
    margin: 2%;
}

.home {
    flex: 0 0 calc(10vw - 2%);
    margin: 2%;
}

#club-icon {
    height: 4rem;
    fill: var(--club-black);
}

#home-icon {
    height: 2rem;
    fill: var(--club-black);
}

.header {
    flex: 1 1 auto; 
    text-align: center; 
    display: flex;
    flex-flow: column nowrap;
    margin: 2% 2% 2% 0%;
}

.main-header {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.sub-header {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}