<div class="createMatch-side">
    <app-header [heading]="title"/>
    <div class="content">
        <app-game-category-selector (selectionChanged)="onSelectionChanged($event)"></app-game-category-selector>
        <div class="horizontal-seperator"></div>
        <div class="selector-group">
            <app-member-selector
                *ngFor="let key of memberKeys; let i = index"
                [label]="memberLabels[i]"
                [data]="filteredMembers"
                [selectedMember]="selectedMembers[key]"
                (selectionChanged)="onMemberSelected($event, key)">
            </app-member-selector>
        </div>
    </div>
    <app-footer/>
</div>
