.createMatch-side {
    display: flex;
    flex-direction: column;  /* Stapelt Kinder vertikal */
    height: 100vh;           /* gesamte Browserhöhe */
}

app-member-selector {
    display: block;
    width: 100%;
}

.selector-group {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    > * { // default
        margin-bottom: 0.5rem;
    }

    > *:nth-child(2n) { // every second element
        margin-bottom: 2rem;
    }

    > *:last-child { // last element
        margin-bottom: 0;
    }
}