.member-side {
    display: flex;
    flex-direction: column;  /* Stapelt Kinder vertikal */
    height: 100vh;           /* gesamte Browserhöhe */
}

app-header{
    flex: 0 0 5%;
    width: 100%;
}

.content {
    flex: 1;                 /* nimmt den restlichen Platz (95%) */
    overflow: auto;          /* falls Inhalt größer ist → Scrollbar */
    background-color: var(--color-primary);
}