.set-input-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-label {
  font-weight: 600;
  font-size: 0.9rem;
  flex: 0 0 max-content;  /* Label nimmt nur so viel wie nötig */
  width: max-content;      /* wichtig: gleiche Breite über Flexbox wird im Parent durch align-items automatisch ausgerichtet */
  margin-right: 1rem;
}

input {
  
}